<div class="card bg-custom-card border-custom p-3" *ngIf="flotaService.vehiculos$ | async as vehiculos">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="text-white mb-0">Directorio y Asignación de Conductores</h5>
    <button class="btn btn-sm btn-primary" *ngIf="flotaService.puedeRegistrarOAsignar()">
      <i class="bi bi-person-plus"></i> Registrar Conductor
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-dark table-hover border-custom align-middle">
      <thead>
        <tr class="text-custom-muted">
          <th>Foto</th>
          <th>Nombre y Ficha</th>
          <th>Licencia</th>
          <th>Cert. Médico</th>
          <th>Unidad Asignada</th>
          <th *ngIf="flotaService.puedeRegistrarOAsignar()">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of flotaService.conductores$ | async">
          <td><img [src]="c.fotoUrl" class="rounded-circle border border-secondary" width="45" height="45" alt="Foto"></td>
          <td>
            <div class="fw-bold text-white">{{ c.nombre }}</div>
            <small class="text-custom-muted">{{ c.cedula }} • {{ c.carnet }}</small>
          </td>
          <td><span class="badge bg-dark border border-secondary">{{ c.vencimientoLicencia }}</span></td>
          <td><span class="badge bg-dark border border-secondary">{{ c.vencimientoMedico }}</span></td>
          <td>
            <span class="badge bg-primary" *ngIf="c.vehiculoAsignadoId">Unidad: {{ obtenerPlacaAsignada(c.vehiculoAsignadoId, vehiculos) }}</span>
            <span class="text-warning small" *ngIf="!c.vehiculoAsignadoId">Sin Unidad</span>
          </td>
          <td *ngIf="flotaService.puedeRegistrarOAsignar()">
            <button class="btn btn-sm btn-outline-secondary">Asignar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>