<div class="card bg-custom-card border-custom p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="text-white mb-0">Bitácora de Cargas de Combustible</h5>
    <button class="btn btn-sm btn-primary" *ngIf="flotaService.puedeRegistrarOAsignar()">
      <i class="bi bi-fuel-pump"></i> Cargar Repostaje
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-dark table-hover border-custom align-middle">
      <thead>
        <tr class="text-custom-muted">
          <th>Fecha de Carga</th>
          <th>Placa</th>
          <th>Litros Surtidos</th>
          <th>Kilometraje Registrado</th>
          <th>Costo Total ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of flotaService.combustible$ | async">
          <td class="text-white">{{ item.fecha }}</td>
          <td><span class="badge bg-dark border border-secondary fs-6">{{ item.placa }}</span></td>
          <td class="text-white fw-bold">{{ item.litros }} Lts</td>
          <td class="text-custom-muted">{{ item.kilometraje | number }} Km</td>
          <td class="text-success fw-bold">${{ item.costo | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>